body{
    font-size: 'Roboto', sans-serif;
}
.container{
    width: 560px;
    height: 700px;
    margin: 3% auto;
    background: #FFFFFF;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

h3{
    text-align: center;
    margin-top: -40px;
    margin-bottom: 40px;
    color: #000;
    font-size: 30px;
}
.container form{
    width: 450px;
    position: absolute;
    top: 100px;
    left: 40px;
    transition: 0.5s;
}

form input{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
form label{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    outline: none;
    background: transparent;
}

.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(2,101,255,1) 57%, rgba(0,212,255,1) 100%);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
    
}

#form_2{
    left: 650px;
}

.step-row{
    width: 560px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
}

.step-col{
    width: 300px;
    text-align: center;
    color: #000;
    position: relative;
}

#progress-bar{
    position: absolute;
    height: 6%;
    width: 280px;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(2,101,255,1) 57%, rgba(0,212,255,1) 100%);
    transition: 2s;
}

#progress-bar::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top:0;
    border-left: 20px solid #00d4ff;
}
#description{
            width: 100%;
			height: 100px;
            padding: 10px 5px;
            margin: 5px 0;
            border: 2px solid #999;
            outline: none;
            background: transparent;
            
}
#clase{
            width: 100%;
			height: 40px;
            padding: 10px 5px;
            margin: 5px 0;
            border: 0;
            border-bottom: 1px solid #999;
            outline: none;
            background: transparent;
}
textarea{
    resize: none;
    width: 250px;
    height: 70px;
}
.contact-box{
    padding: 3rem;
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);

}
		
 

