:root{
    --color-dark: #15181f;
    --color-dark-x: #2d343f;
    --color-dark-xx: #1f232b;
    --color-light: #FFF;
    --color-grey: #f5f6f8;
    --color-dark-grey: #1a1c20;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{  
background: #c31432;  
background: -webkit-linear-gradient(to right, #240b36, #c31432);  
background: linear-gradient(to right, #240b36, #c31432); 
}

.row{
    background: var(--color-dark);
    border-radius: 30px;
    box-shadow: 12px 12px 22px var(--color-dark-grey);
}

img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.form-control{
    background-color: var(--color-dark-xx);
    border: 2px solid var(--color-dark-xx);
    border-radius: .2rem;
    padding: 0.8rem 1rem;
}

label{
    font-size: 20px;
}
.logo_user{
    font-size: 120px;
    margin-left: 80px
}