*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.Contenedor{
   width: 100%;
   height: 100vh;
   background-image: url(https://images.unsplash.com/photo-1465447142348-e9952c393450?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjI0MX0&auto=format&fit=crop&w=668&q=80);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.logo{
    width: 100px;
    cursor: pointer; 
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
button{
    color:#fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.Contenido{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}
.GPS img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.GPS{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubble{
    0%{
        transform:translateY(0);
        opacity: 0;      
    }
    50%{
        
        opacity: 1;      
    }
    70%{
        
        opacity: 1;      
    }
    100%{
        transform:translateY(-80vh);
        opacity: 0;      
    }
    
}

.GPS img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.GPS img:nth-child(2){
    animation-delay: 1s;
}
.GPS img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.GPS img:nth-child(4){
    animation-delay: 4.5s;
}
.GPS img:nth-child(5){
    animation-delay: 5s;
}
.GPS img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.GPS img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
}