/** Variables **/
:root{
    --Black: #373a40;
    --Blue: #00587a;
    --White_Gray: #e7e7de;
    --White: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--White);
    overflow-x: hidden;
}

/** Menú de navegación **/

#header{
    position: relative;
    width: 100%;
}

.Menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--White);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.Menu .logo{
    margin-left: 70px;
}
.Menu .logo h1 a{
   text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--Black);
    font-family: 'Staatliches', cursive;
}

.Menu .container_elements{
    margin-right: 20px;
    margin-top: 12px;
}

.Menu .container_elements .elements{
   display: flex;
}

.Menu .container_elements .elements li{
    list-style: none;
}

.Menu .container_elements .elements li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--Black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.35;
}

.Menu .container_elements .elements li a.active{
    background: var(--Blue);
    color: var(--White);
}

.Menu .container_elements .elements li a:hover{
    background: var(--Blue);
    color: var(--White);
}
/** Fin Menú de navegación **/

/** Banner **/

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../Img/andrea-cau-nV7GJmSq3zc-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.banner .banner_title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Staatliches', cursive;
}

.banner .banner_title h1{
    font-size: 50px;
    color: var(--White);
    font-weight: 200;
}

.banner .banner_title hr{
    width: 400px;
    height: 2px;
    background: var(--White);
    border: none;
    margin-top: 5px;
}

.banner .banner_title p{
    font-size: 20px;
    color: var(--White);
    margin-top: 20px;
}
/** Fin Banner **/

/** Nosotros **/

.nosotros{
    width: 100%;
    margin-top: 120px;
}

.nosotros .info_nosotros{
    width: 88%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/** Skew **/
.Skew_down{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent var(--White) transparent;
}

